.element__like {
    border: 0;
    padding: 0;
    min-width: 22px;
    height: 19px;
    background: url(../../../images/4.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 4;
    transition: opacity .4s;
    margin-top: 5px;
}

.element__like:hover {
    opacity: 0.5;
}