.footer {
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-bottom: 40px;
    width: 36.1%;
}
 
@media screen and (max-width: 767px) {
    .footer {
        min-width: 282px;
        margin: 0px auto 36px;
    }
}