.profile__researcher {
    position: absolute;
    top: 55px;
    max-width: 336px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
 
@media screen and (max-width: 767px) {
    .profile__researcher {
        top: 40px;
        max-width: 282px;
        font-size: 14px;
        line-height: 1.21;
        margin-left: 60px;
    }
}